.category-list-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    
}

/* grid 若無指定寬度，會自動平均分配空白空間至滿版，且無法斷行 (若指定斷行可能造成文字不美觀) */
.category-list-grid {
    display: grid;
    gap: 1rem;
}

  /* 不可斷行 */
  .category-list-grid.grid-1{
    grid-auto-flow: column;
  }
  /* 可斷行 */
  .category-list-grid.grid-2{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  .category-list-item{
    background-color: #f6f5f3;
    color: #777777;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

/* -------------- */
.example-flex{
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card{
  flex: 0 0 calc(33.33% - 0.6666rem);
  position: relative;
  height: 100px;
  border-radius: 10px;
  background-color: #3D80CB;
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-flex.single{
  justify-content:center;
}

/* -------------- */
.example-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  .card{
    position: relative;
    height: 100px;
    border-radius: 10px;
    background-color: #3D80CB;
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-grid.single{
    justify-content:center;
  }

